<div class="container w-100">
    <div class="row">
        <div class="col-3 d-flex flex-column">
            <p ><strong>Date</strong></p>
            <p>{{date}}</p>
        </div>
        <div class="col-3 d-flex flex-column">
            <p><strong>Time</strong></p>
            <p>{{time}}</p>
        </div>
        <div class="col-6 d-flex flex-column">
            <p><strong>Event Name</strong></p>
            <p>{{event['name']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex">
            <p class="me-2"><strong>Description: </strong></p>
            <p>{{event['description']}}</p>
        </div>
       
    </div>
</div>
